<% include ../partials/header %>

<div class="register-container">
		<h1>
			Edit Sprint <%= sprint.number %>: <%= sprint.name %>
		</h1>
		<form action="/sprints/<%=sprint._id%>?_method=PUT" method="POST">
			<div class="ui selection inverted dropdown">
				<input type="hidden" name="sprint[number]" value="<%= sprint.number %>">
				<i class="dropdown icon"></i>
				<div class="default text">Number</div>
				<div class="menu">
					<% for (var i = 0; i < 25; ++i) { %>
						<div class="item" data-value="<%= i %>"><%= i %></div>
					<% } %>
				</div>
			</div>
			<div class="ui inverted divider"></div>
	
			<div class="ui inverted input">
				<input class="form-control" type="text" name="sprint[name]" value="<%= sprint.name %>">
			</div>
			<div class="ui inverted divider"></div>
	
			<div class="ui inverted input">
				Start Date <input class="form-control" type="date" name="sprint[dateFrom]" value="<%= sprint.dateFrom.toISOString().split('T')[0] %>">
			</div>
			<div class="ui inverted divider"></div>
	
			<div class="ui inverted input">
				End Date <input class="form-control" type="date" name="sprint[dateTo]" value="<%= sprint.dateTo.toISOString().split('T')[0] %>">
			</div>
			<div class="ui inverted divider"></div>
	
			<div class="ui inverted input">
				<input class="form-control" type="text" name="sprint[description]" value="<%= sprint.description %>">
			</div>
			<div class="ui inverted divider"></div>
			
			
	
			<button class="ui secondary button">Submit</button>
	
		</form>
		
	</div>


<% include ../partials/footer %>