<% include ../partials/header %>

<div class="container">
	<!-- <div class="ui inverted segment top">
		<div class="ui two column very relaxed grid"> -->
			<!-- <div class="column"> -->
				<div class="ui main text container">
					<div class="ui inverted segment">
						<div class="ui divided items">
							<%if (sprints.length > 0){%>
								<% sprints.forEach(function(sprint){ %>
									<div class="item">
										<div class="content">
											<i class="right floated like icon"></i>
    										<i class="right floated star icon"></i>
											<a class="header" href="/sprints/<%= sprint._id %>">
												Sprint <%= sprint.number %>: <%= sprint.name %>
											</a>
											<div class="description">
												<%= sprint.dateFrom %> - <%= sprint.dateTo %>
											</div>
											<div class="meta">
												
											</div>
											<div class="description">
												<%- sprint.description.substring(0, 300) %>...
											</div>
										<!-- </div>
										<div> -->
											<div class="extra">
												<a class="ui purple basic button bottom-right" href="/sprints/<%= sprint._id %>">
													Read More
													<i class="right chevron icon"></i>
												</a>
												<span class="left floated like">
														<i class="like icon"></i>
														Like
													  </span>
													  <span class="right floated star">
														<i class="star icon"></i>
														Favorite
													  </span>
											</div>
										</div>
									</div>
								<% }); %>
							<%} else {%>
								<div class="item">
									<div class="image">
										<img src="/images/BOON_bg_1.png">
									</div>
									
									<div class="content">
										<a class="header" href="/sprints/new">Nothing here yet...</a>
										<div class="meta">
											
										</div>
										<div class="description">
											Time to start sprinting!
										</div>
									
										<div class="extra">
											<a class="ui floated basic blue button" href="/sprints/new">
												New sprint
												<i class="right chevron icon"></i>
											</a>
										</div>
									</div>
								</div>
							<%}%>
						</div>
					</div>
				</div>
			<!-- </div>  -->
			<!-- <div class="column">

			</div> -->
		<!-- </div> -->
		<!-- <div class="ui vertical inverted divider"></div> -->
	<!-- </div> -->
</div>

<% include ../partials/footer %>