<% include ../partials/header %>

<div class="top container">
	<div class="row">
		<div class="col-md-3">
			
			<div clas="list-group">
				<ul>
					<li class="list-group-item active">bla1</li>
					<li class="list-group-item">bla2</li>
					<li class="list-group-item">bla3</li>
				</ul>
			</div>
		</div>

		<div class="col-md-9">

			<!-- Sprint section -->
			<div class="thumbnail">
                <div class="caption-full">
                    <h4><a>Sprint <%=sprint.number%>: <%=sprint.name%></a></h4>
                    <p><%= sprint.dateFrom %> - <%= sprint.dateTo %></p>
                    <p><%= sprint.description %></p>
                    <p>
                        <em>Submitted By <%= sprint.author.username %></em>
                    </p>
					<!-- currentUser defined in app.js -->
					<% if(currentUser && sprint.author.id.equals(currentUser._id)) { %>
						<a class="btn btn-xs btn-warning" href="/sprints/<%= sprint._id %>/edit">Edit</a>
						<form id="delete-form" action="/sprints/<%= sprint._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>
            	</div>
			</div>

			<!-- Comments section -->
			<div class="well">
				<h4><a>Comments</a></h4>
				<div class="text-right">
					<a class="btn btn-success" href="/sprints/<%= sprint._id %>/comments/new">Add a new comment</a>
				</div>
				
				<hr>
				
				<% sprint.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="pull-right">10 days ago</span>
							<p>
								<%= comment.text %>
							</p>
							
							<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
								<a class="btn btn-xs btn-warning" href="/sprints/<%= sprint._id %>/comments/<%= comment._id %>/edit">Edit</a>
								<form class="delete-form" action="/sprints/<%= sprint._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-xs btn-danger" value="Delete">
								</form>
							<% } %>
						</div>
					</div>
				<%}) %>
			</div>
			
			<!-- Sprint-Post section -->
			<div class="well">
				<h4><a>Posts</a></h4>
				<div class="text-right">
					<a class="btn btn-success" href="/sprints/<%= sprint._id %>/posts/new">Add a new post</a>
				</div>
				
				<hr>
				
				<% sprint.posts.forEach(function(post){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= post.author.username %></strong>
							<p>
								<%= post.description %>
							</p>
							
							<% if(currentUser && post.author.id.equals(currentUser._id)) { %>
								<a class="btn btn-xs btn-warning" href="/sprints/<%= sprint._id %>/posts/<%= post._id %>/edit">Edit</a>
								<form class="delete-form" action="/sprints/<%= sprint._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-xs btn-danger" value="Delete">
								</form>
							<% } %>
						</div>
					</div>
					
					
				<div class="text-right">
					<a class="btn btn-success" href="/sprints/<%= sprint._id %>/posts/<%= post._id %>/comments/new">Add a comment</a>
				</div>
				
				<hr>
				
				<% console.log("Sprint is: " + sprint) %>

				<%}) %>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>